


.contactDetailsIcons{
display: flex;
justify-content: space-around;
}

.headerImage{
  background-image: url("../images/contact-1.jpeg"); 
  background-size:cover;
  background-position: center;
  height: 30vh;
   
}

.contactFormAdvanced{
border: 1px solid red;
}
.flexContainer{
    border: 1px solid red;
}
.contactHeadline{
    margin-top: -70px;
    border: 1px solid red;
}

.contactHeadline h1{
    border: 1px solid blue;
   margin: 15px 0;
  
}
.contactDetails{
    margin: 50px 0;
    border: 1px solid red;
}
.contactDetails h3{
    text-transform: uppercase;
    border: 1px solid red;
}
.contactDetailsIcons{
    margin: 50px 0;
    border: 1px solid red;
   
}

.contactDetailsIcons i{
    border: 1px solid red;
    font-size: 2rem;
}

.contactPhone{
    border: 1px solid blue
}

.contactAddress{
    border: 1px solid blue;
}
.contactEmail{
    border: 1px solid blue;
}
.contactGetinTouch{
    margin: 100px 0;
    border: 1px solid red;
}


