html{
    font-size: 125%;
}

body {
    font-family: 'opensans', sans-serif;
    font-size: 0.7rem;
    letter-spacing: 0.3px;
    line-height: 24px;
}

h1,
h2,
h2{
    margin: 0;
    padding: 0;
}

h1,
h2{
    text-transform: uppercase;
}

ul{
    list-style-type: none;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
}

.wrapper{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

nav li{
font-size: 0.7rem;
letter-spacing: 0.3px;
}
