
header{
    background: url("../images/blog-1.jpeg");
    height: 100vh;
    background-size:cover;
    background-position: center;
   

}

nav{
    display: flex;
    justify-content: space-between;
padding: 10px 40px;
border: 1px solid red;
align-items: center;
}

.logo{
    text-transform: uppercase;
}


nav ul li{
display: inline;
text-transform: uppercase;
padding: 0 15px;
font-weight: 600;
}

nav ul{
border: 1px solid blue;
}