.home {
    background-image: url("../images/home-1.jpeg");
    background-size: cover;
    background-position: center;
    height: 90vh;
  }
  
  .homeBranding {
    display: flex;
    align-items: center;
    background-color: #c3dab7;
    height: 65vh;
    justify-content: center;
  }
  
  .homeBranding .flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .homeBranding .imageContainer {
    display: flex;
    justify-content: center;
  }
  
  .homeBranding img {
    height: 200px;
  }
  
  .stamp img {
    height: 165px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  
  .homeBranding .textContainer {
    display: flex;
    text-align: center;
    margin: 30px;
  }
  
  .branding,
  .design {
    padding: 0 100px;
  }
  
  .homeTurnstile {
    height: 65vh;
    display: flex;
    justify-content: center;
  }
  .homeTurnstile .flexContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 55%;
  }
  
  .homeTurnstile img {
    border-radius: 50%;
  }
  .homeTurnstile .textContainer {
    flex-wrap: wrap;
    display: flex;
    text-align: center;
  }
  .homeIcons {
    background-image: url("../images/home-4.jpeg");
    display: flex;
    justify-content: end;
    height: 80vh;
  
    align-items: center;
  }
  
  .iconsContainer {
    display: flex;
    justify-content: flex-end;
    max-height: 100%;
  }
  
  .homeIcons .flexContainer {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    height: 80%;
  }
  
  .iconsContainer i {
    padding: 1rem;
  }
  
  .iconsContainer h3 {
    margin: 0;
  }
  
  .iconFeature {
    display: flex;
  
    width: 50%;
    height: 155px;
    justify-content: center;
    align-items: center;
  }
  .homeIcon i {
    font-size: 2rem;
  }
  
  .iconFeature .textContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .homeTeam .flexContainer {
    display: flex;
    margin: 80px 0;
    flex-direction: column;
  }
  
  .teamTitle {
    text-align: center;
    margin: 20px;
  }
  
  .theTeamImages {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  .theTeamImages .textContainer {
    width: 50%;
    padding: 20px;
    margin: 10px;
    background-color: lightgrey;
  }
  
  .theTeamImages .imgContainer {
    margin: 10px;
    width: 15vw;
  }
  
  .work {
    display: flex;
    width: 15vw;
    margin: 10px;
    text-align: center;
    align-items: center;
  }
  
  .homeDropline {
    height: 80vh;
  }
  
  .homeDropline .flexContainer {
    display: flex;
    height: 100%;
  }
  
  .droplineLeft {
    background-color: #c3dab7;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .droplineLeft .textContainer {
    text-align: center;
    width: 50%;
  }
  
  .button {
    display: inline-block;
    background-color: #f6f6f6;
    padding: 20px;
    text-align: center;
    font-size: 0.7rem;
  }
  
  .droplineRight {
    background-image: url("../images/home-10.jpeg");
    width: 50%;
  }
  