
.home{
    background-image: url("../images/home-1.jpeg");
    background-size:cover;
    background-position: center;
    height: 90vh;

}

.homeBranding{
    background-color: #C3DAB7;
    height: 65vh;
}

.homeBranding .flexContainer{
    display: flex;
    

}
.homeBranding .imageContainer{

}
.stamp{

}
.homeBranding .textContainer{

}
.branding{

}
.design{

}
.homeTurnstile {
    height: 65vh;
    display: flex;
    border: 2px solid red;
    justify-content: center;
}
.homeTurnstile .flexContainer{
    display: flex;
align-items: center;
justify-content: center;
border: 2px solid blue;
flex-direction: column;
width: 55%;
}
.homeTurnstile .imageContainer{
    
    border: 2px solid red;
}
.homeTurnstile img{
    border-radius: 50%;
    border: 2px solid red;
}
.homeTurnstile .textContainer{
    flex-wrap: wrap;
    display: flex;
    border: 2px solid red;
    text-align: center;
}
.homeIcons{
    background-image: url("../images/home-4.jpeg");
    display: flex;
    justify-content: end;
    height: 80vh;
    border: 2px solid purple;
}

.iconsContainer{
    display: flex;
    justify-content: flex-end;
    border: 2px solid blue;
    max-height: 100%;
}

.homeIcons .flexContainer{
    display: flex;
    border: 2px solid red;
    width: 50%;
    flex-wrap: wrap;
    height: 80%;
    

}

.iconFeature{
    display: flex;
    border: 2px solid blue;
    width: 50%;
 
    justify-content: center;
    align-items: center;
}
.homeIcon i{
    font-size: 2rem;
    border: 2px solid red;
}

.iconFeature .textContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 2px solid red;
}


.homeTeam{
    border: 2px solid purple;
}

.homeTeam .flexContainer{
    display: flex;
    border: 2px solid red;
   margin: 80px 0;
 
    flex-direction: column;
}

.teamTitle{
    border: 2px solid blue;
    text-align: center;
 
    margin: 20px;
}

.theTeamImages{
    border: 2px solid blue;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
 
    
}



.theTeamImages .textContainer{
    width:50%;
    border: 2px solid red;
    padding: 20px;
    margin: 10px;
    background-color: lightgrey;
}


.theTeamImages .imgContainer{
    margin: 10px;
    width: 15vw;
 
}

.work{
    display: flex;
    border: 2px solid blue;  
    width: 15vw;
    margin: 10px;
    text-align: center;
    align-items: center;
}

.homeDropline{
    height: 80vh;
}

.homeDropline .flexContainer{
display: flex;
height: 100%;
}


.droplineLeft{
    background-color: #C3DAB7;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.droplineLeft .textContainer{
 
   
    text-align: center;
    width: 50%;
 
}



.button {
display: inline-block;
    background-color: #F6F6F6;
    padding: 20px;
    width: 50%;
    text-align: center;
    font-size: 0.7rem;
}

.droplineRight{
    background-image: url("../images/home-10.jpeg");
    width: 50%;
    
}